.config
TAGS
cscope.files
cscope.out
cscope.out.in
cscope.out.po
scripts/basic/.fixdep.cmd
scripts/kconfig/.conf.cmd
scripts/kconfig/.conf.o.cmd
scripts/kconfig/.zconf.tab.o.cmd
scripts/kconfig/conf.o
scripts/kconfig/zconf.tab.o
tags

.config.old
.tmp_vmlinux1
.tmp_vmlinux2
.version
arch/arm/boot/dts/.vexpress-v2p-ca15-tc1.dtb.d.dtc.tmp
arch/arm/boot/dts/.vexpress-v2p-ca15-tc1.dtb.d.pre.tmp
arch/arm/boot/dts/.vexpress-v2p-ca15-tc1.dtb.dts.tmp
arch/arm/boot/dts/.vexpress-v2p-ca15_a7.dtb.d.dtc.tmp
arch/arm/boot/dts/.vexpress-v2p-ca15_a7.dtb.d.pre.tmp
arch/arm/boot/dts/.vexpress-v2p-ca15_a7.dtb.dts.tmp
arch/arm/boot/dts/.vexpress-v2p-ca5s.dtb.d.dtc.tmp
arch/arm/boot/dts/.vexpress-v2p-ca5s.dtb.d.pre.tmp
arch/arm/boot/dts/.vexpress-v2p-ca5s.dtb.dts.tmp
arch/arm/boot/dts/.vexpress-v2p-ca9.dtb.d.dtc.tmp
arch/arm/boot/dts/.vexpress-v2p-ca9.dtb.d.pre.tmp
arch/arm/boot/dts/.vexpress-v2p-ca9.dtb.dts.tmp
arch/arm/include/generated/
arch/arm/kernel/asm-offsets.s
include/config/
include/generated/
kernel/bounds.s
scripts/mod/devicetable-offsets.s
vmlinux


# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Misc
.cproject
.project
arch/arm/common/modules.builtin
arch/arm/crypto/modules.builtin
arch/arm/firmware/modules.builtin
arch/arm/kernel/modules.builtin
arch/arm/lib/modules.builtin
arch/arm/mach-vexpress/modules.builtin
arch/arm/mm/modules.builtin
arch/arm/net/modules.builtin
arch/arm/oprofile/modules.builtin
arch/arm/plat-versatile/modules.builtin
arch/arm/probes/kprobes/modules.builtin
arch/arm/probes/modules.builtin
arch/arm/vfp/modules.builtin
block/modules.builtin
block/partitions/modules.builtin
crypto/modules.builtin
drivers/amba/modules.builtin
drivers/ata/modules.builtin
drivers/auxdisplay/modules.builtin
drivers/base/modules.builtin
drivers/base/power/modules.builtin
drivers/base/regmap/modules.builtin
drivers/block/modules.builtin
drivers/bus/modules.builtin
drivers/cdrom/modules.builtin
drivers/char/agp/modules.builtin
drivers/char/hw_random/modules.builtin
drivers/char/modules.builtin
drivers/clk/modules.builtin
drivers/clk/versatile/modules.builtin
drivers/clocksource/modules.builtin
drivers/cpuidle/governors/modules.builtin
drivers/cpuidle/modules.builtin
drivers/crypto/modules.builtin
drivers/firewire/modules.builtin
drivers/firmware/modules.builtin
drivers/gpio/modules.builtin
drivers/gpu/drm/bridge/modules.builtin
drivers/gpu/drm/i2c/modules.builtin
drivers/gpu/drm/modules.builtin
drivers/gpu/drm/panel/modules.builtin
drivers/gpu/modules.builtin
drivers/gpu/vga/modules.builtin
drivers/hid/modules.builtin
drivers/hid/usbhid/modules.builtin
drivers/hsi/clients/modules.builtin
drivers/hsi/controllers/modules.builtin
drivers/hsi/modules.builtin
drivers/hwmon/modules.builtin
drivers/i2c/algos/modules.builtin
drivers/i2c/busses/modules.builtin
drivers/i2c/modules.builtin
drivers/i2c/muxes/modules.builtin
drivers/idle/modules.builtin
drivers/input/keyboard/modules.builtin
drivers/input/modules.builtin
drivers/input/mouse/modules.builtin
drivers/input/serio/modules.builtin
drivers/iommu/modules.builtin
drivers/irqchip/modules.builtin
drivers/leds/modules.builtin
drivers/leds/trigger/modules.builtin
drivers/lguest/modules.builtin
drivers/macintosh/modules.builtin
drivers/media/common/b2c2/modules.builtin
drivers/media/common/modules.builtin
drivers/media/common/saa7146/modules.builtin
drivers/media/common/siano/modules.builtin
drivers/media/firewire/modules.builtin
drivers/media/i2c/modules.builtin
drivers/media/i2c/soc_camera/modules.builtin
drivers/media/mmc/modules.builtin
drivers/media/mmc/siano/modules.builtin
drivers/media/modules.builtin
drivers/media/pci/b2c2/modules.builtin
drivers/media/pci/ddbridge/modules.builtin
drivers/media/pci/dm1105/modules.builtin
drivers/media/pci/mantis/modules.builtin
drivers/media/pci/modules.builtin
drivers/media/pci/ngene/modules.builtin
drivers/media/pci/pluto2/modules.builtin
drivers/media/pci/pt1/modules.builtin
drivers/media/pci/pt3/modules.builtin
drivers/media/pci/saa7146/modules.builtin
drivers/media/pci/smipcie/modules.builtin
drivers/media/pci/ttpci/modules.builtin
drivers/media/platform/modules.builtin
drivers/media/platform/omap/modules.builtin
drivers/media/rc/keymaps/modules.builtin
drivers/media/rc/modules.builtin
drivers/media/tuners/modules.builtin
drivers/media/usb/b2c2/modules.builtin
drivers/media/usb/dvb-usb-v2/modules.builtin
drivers/media/usb/dvb-usb/modules.builtin
drivers/media/usb/modules.builtin
drivers/media/usb/s2255/modules.builtin
drivers/media/usb/siano/modules.builtin
drivers/media/usb/stkwebcam/modules.builtin
drivers/media/usb/ttusb-budget/modules.builtin
drivers/media/usb/ttusb-dec/modules.builtin
drivers/media/usb/zr364xx/modules.builtin
drivers/mfd/modules.builtin
drivers/misc/carma/modules.builtin
drivers/misc/cb710/modules.builtin
drivers/misc/eeprom/modules.builtin
drivers/misc/lis3lv02d/modules.builtin
drivers/misc/mic/modules.builtin
drivers/misc/modules.builtin
drivers/misc/ti-st/modules.builtin
drivers/mmc/card/modules.builtin
drivers/mmc/core/modules.builtin
drivers/mmc/host/modules.builtin
drivers/mmc/modules.builtin
drivers/modules.builtin
drivers/mtd/chips/modules.builtin
drivers/mtd/devices/modules.builtin
drivers/mtd/lpddr/modules.builtin
drivers/mtd/maps/modules.builtin
drivers/mtd/modules.builtin
drivers/mtd/nand/modules.builtin
drivers/mtd/onenand/modules.builtin
drivers/mtd/tests/modules.builtin
drivers/mtd/ubi/modules.builtin
drivers/net/ethernet/8390/modules.builtin
drivers/net/ethernet/arc/modules.builtin
drivers/net/ethernet/broadcom/modules.builtin
drivers/net/ethernet/cadence/modules.builtin
drivers/net/ethernet/cirrus/modules.builtin
drivers/net/ethernet/faraday/modules.builtin
drivers/net/ethernet/hisilicon/modules.builtin
drivers/net/ethernet/i825xx/modules.builtin
drivers/net/ethernet/intel/modules.builtin
drivers/net/ethernet/marvell/modules.builtin
drivers/net/ethernet/micrel/modules.builtin
drivers/net/ethernet/modules.builtin
drivers/net/ethernet/natsemi/modules.builtin
drivers/net/ethernet/qualcomm/modules.builtin
drivers/net/ethernet/rocker/modules.builtin
drivers/net/ethernet/samsung/modules.builtin
drivers/net/ethernet/seeq/modules.builtin
drivers/net/ethernet/smsc/modules.builtin
drivers/net/ethernet/stmicro/modules.builtin
drivers/net/ethernet/via/modules.builtin
drivers/net/ethernet/wiznet/modules.builtin
drivers/net/modules.builtin
drivers/net/phy/modules.builtin
drivers/net/usb/modules.builtin
drivers/nfc/modules.builtin
drivers/of/modules.builtin
drivers/pinctrl/freescale/modules.builtin
drivers/pinctrl/modules.builtin
drivers/pinctrl/nomadik/modules.builtin
drivers/platform/modules.builtin
drivers/power/modules.builtin
drivers/power/reset/modules.builtin
drivers/pwm/modules.builtin
drivers/regulator/modules.builtin
drivers/rtc/modules.builtin
drivers/scsi/arm/modules.builtin
drivers/scsi/modules.builtin
drivers/soc/modules.builtin
drivers/soc/versatile/modules.builtin
drivers/tty/hvc/modules.builtin
drivers/tty/ipwireless/modules.builtin
drivers/tty/modules.builtin
drivers/tty/serial/modules.builtin
drivers/tty/vt/modules.builtin
drivers/usb/common/modules.builtin
drivers/usb/core/modules.builtin
drivers/usb/isp1760/modules.builtin
drivers/usb/misc/modules.builtin
drivers/usb/modules.builtin
drivers/usb/mon/modules.builtin
drivers/usb/phy/modules.builtin
drivers/usb/storage/modules.builtin
drivers/video/backlight/modules.builtin
drivers/video/console/modules.builtin
drivers/video/fbdev/core/modules.builtin
drivers/video/fbdev/modules.builtin
drivers/video/fbdev/omap2/displays-new/modules.builtin
drivers/video/fbdev/omap2/dss/modules.builtin
drivers/video/fbdev/omap2/modules.builtin
drivers/video/logo/modules.builtin
drivers/video/modules.builtin
drivers/virtio/modules.builtin
firmware/modules.builtin
fs/9p/modules.builtin
fs/cramfs/modules.builtin
fs/debugfs/modules.builtin
fs/devpts/modules.builtin
fs/exofs/modules.builtin
fs/ext2/modules.builtin
fs/ext3/modules.builtin
fs/ext4/modules.builtin
fs/fat/modules.builtin
fs/jbd/modules.builtin
fs/jbd2/modules.builtin
fs/jffs2/modules.builtin
fs/kernfs/modules.builtin
fs/lockd/modules.builtin
fs/modules.builtin
fs/nfs/modules.builtin
fs/nfs_common/modules.builtin
fs/nls/modules.builtin
fs/notify/dnotify/modules.builtin
fs/notify/fanotify/modules.builtin
fs/notify/inotify/modules.builtin
fs/notify/modules.builtin
fs/proc/modules.builtin
fs/quota/modules.builtin
fs/ramfs/modules.builtin
fs/squashfs/modules.builtin
fs/sysfs/modules.builtin
fs/ubifs/modules.builtin
init/modules.builtin
ipc/modules.builtin
kernel/bpf/modules.builtin
kernel/events/modules.builtin
kernel/irq/modules.builtin
kernel/livepatch/modules.builtin
kernel/locking/modules.builtin
kernel/modules.builtin
kernel/power/modules.builtin
kernel/printk/modules.builtin
kernel/rcu/modules.builtin
kernel/sched/modules.builtin
kernel/time/modules.builtin
kernel/trace/modules.builtin
lib/fonts/modules.builtin
lib/lz4/modules.builtin
lib/lzo/modules.builtin
lib/modules.builtin
lib/xz/modules.builtin
lib/zlib_deflate/modules.builtin
lib/zlib_inflate/modules.builtin
mm/modules.builtin
modules.builtin
net/802/modules.builtin
net/9p/modules.builtin
net/core/modules.builtin
net/ethernet/modules.builtin
net/ipv4/modules.builtin
net/ipv6/modules.builtin
net/modules.builtin
net/netlink/modules.builtin
net/packet/modules.builtin
net/sched/modules.builtin
net/sunrpc/modules.builtin
net/sunrpc/xprtrdma/modules.builtin
net/unix/modules.builtin
net/xfrm/modules.builtin
security/modules.builtin
sound/arm/modules.builtin
sound/atmel/modules.builtin
sound/core/modules.builtin
sound/core/oss/modules.builtin
sound/drivers/modules.builtin
sound/drivers/mpu401/modules.builtin
sound/drivers/opl3/modules.builtin
sound/drivers/opl4/modules.builtin
sound/drivers/pcsp/modules.builtin
sound/drivers/vx/modules.builtin
sound/firewire/modules.builtin
sound/i2c/modules.builtin
sound/i2c/other/modules.builtin
sound/isa/ad1816a/modules.builtin
sound/isa/ad1848/modules.builtin
sound/isa/cs423x/modules.builtin
sound/isa/es1688/modules.builtin
sound/isa/galaxy/modules.builtin
sound/isa/gus/modules.builtin
sound/isa/modules.builtin
sound/isa/msnd/modules.builtin
sound/isa/opti9xx/modules.builtin
sound/isa/sb/modules.builtin
sound/isa/wavefront/modules.builtin
sound/isa/wss/modules.builtin
sound/mips/modules.builtin
sound/modules.builtin
sound/parisc/modules.builtin
sound/pci/ac97/modules.builtin
sound/pci/ali5451/modules.builtin
sound/pci/asihpi/modules.builtin
sound/pci/au88x0/modules.builtin
sound/pci/aw2/modules.builtin
sound/pci/ca0106/modules.builtin
sound/pci/cs46xx/modules.builtin
sound/pci/cs5535audio/modules.builtin
sound/pci/ctxfi/modules.builtin
sound/pci/echoaudio/modules.builtin
sound/pci/emu10k1/modules.builtin
sound/pci/hda/modules.builtin
sound/pci/ice1712/modules.builtin
sound/pci/korg1212/modules.builtin
sound/pci/lola/modules.builtin
sound/pci/lx6464es/modules.builtin
sound/pci/mixart/modules.builtin
sound/pci/modules.builtin
sound/pci/nm256/modules.builtin
sound/pci/oxygen/modules.builtin
sound/pci/pcxhr/modules.builtin
sound/pci/riptide/modules.builtin
sound/pci/rme9652/modules.builtin
sound/pci/trident/modules.builtin
sound/pci/vx222/modules.builtin
sound/pci/ymfpci/modules.builtin
sound/pcmcia/modules.builtin
sound/pcmcia/pdaudiocf/modules.builtin
sound/pcmcia/vx/modules.builtin
sound/ppc/modules.builtin
sound/sh/modules.builtin
sound/soc/modules.builtin
sound/sparc/modules.builtin
sound/spi/modules.builtin
sound/synth/modules.builtin
sound/usb/6fire/modules.builtin
sound/usb/bcd2000/modules.builtin
sound/usb/caiaq/modules.builtin
sound/usb/hiface/modules.builtin
sound/usb/misc/modules.builtin
sound/usb/modules.builtin
sound/usb/usx2y/modules.builtin
usr/modules.builtin
